@using MyApp.Web.ViewModels
@model GetReviewViewModel
@{
    ViewData["Title"] = "Get Your Review";
}

<partial name="~/Views/Shared/_PatientNav.cshtml" />

<form asp-action="GetReview" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Number" class="form-label"></label>
        <input asp-for="Number" class="form-control"/>
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sprawdź szczegóły</button>
</form>