@model MyApp.Web.ViewModels.PublicReviewAccessViewModel

<h2 class="d-flex justify-content-center gap-2">Twoje zalecenia</h2>

<p class="d-flex justify-content-center gap-2">Zalecenia dostępne po wybraniu jednej z poniższych opcji:</p>

<div class="d-flex justify-content-center gap-2">
    <a asp-controller="Patient" 
        asp-action="PublicEdit"
        asp-route-number="@Model.Number" 
        class="btn btn-secondary">
        Wystaw opinię
    </a>
    <a asp-controller="Account" 
        asp-action="RegisterPatient" 
        asp-route-returnUrl="@Url.Action("PublicEdit", "Patient", new {number = Model.Number})"
        class="btn btn-secondary">
        Zarejestruj się lub zaloguj
    </a>
</div>