@using MyApp.Web.ViewModels
@model PublicReviewEditViewModel

@{
    ViewData["Title"] = "Twoja Opinia";
}

@if(TempData["Saved"] is not null)
{
    <div class="alert alert-success">Saved!</div>
}

<div class="mb-3">
    <div class="text-center mb-3">
        <label for="generalAdvice" class="form-label d-block">Zalecenia</label>
    </div>
    <div class="form-control-plaintext" style="white-space: pre-wrap;">@Model.Advice</div>
</div>

<form method="post" asp-action="PublicEdit" asp-route-number="@Model.Number">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="@Model.Number" />

    <div class="mb-3">
        <div class="text-center mb-3">
            <label class="form-label d-block">Twoja opinia</label>
        </div>
        <textarea class="form-control" rows="8" asp-for="ReviewText" placeholder="Wpisz tutaj swoją opinię na temat zaleceń i skuteczności działania leków poleconych przez Twojego faramaceutę.Prosimy, aby nie umieszczać swoich danych osobowych."></textarea>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary">Prześlij</button>
    </div>
</form>