@model MyApp.Web.ViewModels.InstructionsViewModel;
@{
    ViewData["Title"] = "Dawkowania leków";
    var instructions = Model.Instructions;
}

<partial name="~/Views/Shared/_PharmacistNav.cshtml" />

<div class="container mt-3">

    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead>
                <tr>
                    <th scope="col" class="col-3">Kod</th>
                    <th scope="col" class="col-9">Dawkowanie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in instructions)
                {
                    <tr>
                        <td class="col-3">@item.Code</td>
                        <td class="col-9 text-break">@item.Text</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Medicine" asp-action="PrintInstructions" class="btn btn-secondary">
            Drukuj
        </a>
    </div>

</div>
