/* LIGHT/DARK MODE*/

.pagination {
    --bs-pagination-color: var(--bs-success);
    --bs-pagination-hover-color: var(--bs-success);
    --bs-pagination-focus-color: var(--bs-success);
    --bs-pagination-active-bg: var(--bs-success);
    --bs-pagination-active-border-color: var(--bs-success);
    --bs-pagination-active-color: #fff;
}

.pagination .page-link:hover {
    border-color: var(--bs-success);
}

.pagination .page-link:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-success-rgb), .25);
}



/* CONTRAST MODE*/

:root[data-bs-theme="contrast"] {
    --bs-body-bg: #000;
    --bs-body-color: #ff0;
    --bs-link-color: #ffcc00;
    --bs-border-color: #ffff66;
    --bs-tertiary-bg: #000;
}

[data-bs-theme="contrast"] p,
[data-bs-theme="contrast"] span,
[data-bs-theme="contrast"] th,
[data-bs-theme="contrast"] td,
[data-bs-theme="contrast"] h1,
[data-bs-theme="contrast"] h2,
[data-bs-theme="contrast"] h3,
[data-bs-theme="contrast"] h4,
[data-bs-theme="contrast"] h5,
[data-bs-theme="contrast"] h6,
[data-bs-theme="contrast"] label,
[data-bs-theme="contrast"] button,
[data-bs-theme="contrast"] a,
[data-bs-theme="contrast"] strong {
    color: #ffff00 !important;
    background-color: transparent;
}

[data-bs-theme="contrast"] {
    color: var(--bs-body-color);
}

[data-bs-theme="contrast"] a,
[data-bs-theme="contrast"] a:hover,
[data-bs-theme="contrast"] a:focus {
    text-decoration: none;
}

[data-bs-theme="contrast"] .card,
[data-bs-theme="contrast"] .app-panel {
    background-color: #000; 
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] input,
[data-bs-theme="contrast"] textarea,
[data-bs-theme="contrast"] select {
    background-color: #000;
    color: #ff0;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] input::placeholder,
[data-bs-theme="contrast"] textarea::placeholder {
    color: #ff0;
    opacity: 1;
}

[data-bs-theme="contrast"] .btn {
    color: #ff0;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] .btn:hover {
    background-color: #222;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] .alert,
[data-bs-theme="contrast"] .modal-content {
    background-color: #000;
    color: #ffff00;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] .dropdown-menu {
    background-color: #000;
    color: #ff0;
    border-color: var(--bs-border-color) ;
}

[data-bs-theme="contrast"] .dropdown-item:hover {
    background-color: #222;
    color: #ff0;
}

[data-bs-theme="contrast"] .page-item.active .page-link {
    background-color: #ff0;
    color: #000;
}

[data-bs-theme="contrast"] .pagination .page-item.disabled .page-link {
    color: #ffff00 !important;
    background-color: #000;
}

[data-bs-theme="contrast"] .pagination .page-item.active .page-link {
    color: #000000 !important;
    background-color: #ff0;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] .breadcrumb {
    --bs-breadcrumb-divider-color: #ffff00;
}

[data-bs-theme="contrast"] .breadcrumb a {
    text-decoration: none;
}

[data-bs-theme="contrast"] select,
[data-bs-theme="contrast"] option {
    background-color: #000000 !important;
    color: #ffff00;
    border-color: var(--bs-border-color);
}

[data-bs-theme="contrast"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

[data-bs-theme="contrast"] .bg-body-tertiary {
    background-color: #000000 !important;
}

/* GENERAL STYLES */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
 
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
    text-decoration: none !important;
}
