@{
    ViewData["Title"] = "Secret";
}

<h2>Authenticated</h2>

<p>You are authenticated as @User.Identity?.Name</p>

<form asp-controller="Account" asp-action="Logout" method="post">
    @Html.AntiForgeryToken()
    <button class="btn btn-outline-danger" type="submit">Logout</button>
</form>