@{
    ViewData["Title"] = "Strona Domowa";
}

<div class="text-center">
    <h1 class="display-4">MyApp</h1>
    <p>
        Najlepsza aplikacja do zarządzania zdrowiem!
    </p>
</div>


<div class="d-flex justify-content-center gap-3 mt-4">
    <a asp-controller="Account"
       asp-action="Register"
       class="btn btn-outline-secondary flex-fill text-center"
       style="max-width:220px;">
        Rejestracja
    </a>

    <a asp-controller="Account"
       asp-action="Login"
       class="btn btn-outline-secondary flex-fill text-center"
       style="max-width:220px;">
        Logowanie
    </a>
</div>