@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyApp</h1>
    <p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-controller="Secret" asp-action="Index" class="btn btn-success">Go to Secret</a>
    </p>
</div>
