@{
    ViewData["Title"] = "User Role - Reviews";
}

<partial name="~/Views/Shared/_UserRoleNav.cshtml" />

<h1 class="mb-3">@ViewData["Title"]</h1>
<div class="alert alert-info">Reviews management not active.</div>