@{
    ViewData["Title"] = "User Role - Tokens";
}

<partial name="~/Views/Shared/_UserRoleNav.cshtml" />

<h1 class="mb-3">@ViewData["Title"]</h1>
<div class="alert alert-info">Tokens management not active.</div>