@{
    var current = ViewContext.RouteData.Values["action"]?.ToString();
}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link @(current == "Users" ? "active" : "")" asp-controller="Admin" asp-action="Users">Użytkownicy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(current == "Reviews" ? "active" : "")" asp-controller="Admin" asp-action="Reviews">Zalecenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(current == "Medicines" ? "active" : "")" asp-controller="Medicine" asp-action="Medicines">Leki</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(current == "Instructions" ? "active" : "")" asp-controller="Medicine" asp-action="Instructions">Dawkowanie</a>
    </li>
</ul>