@{
    var current = ViewContext.RouteData.Values["action"]?.ToString();
}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link @(current == "TreatmentPlan" ? "active" : "")" asp-controller="Patient" asp-action="TreatmentPlan">Plan leczenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(current == "GetTreatmentPlan" ? "active" : "")" asp-controller="Patient" asp-action="GetTreatmentPlan">Pobierz zalecenia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(current == "Plans" ? "active" : "")" asp-controller="Patient" asp-action="Plans">Otrzymane zalecenia</a>
    </li>

</ul>