@{
    var current = ViewContext.RouteData.Values["action"]?.ToString();
    var plan = current == "Plans" || current == "TreatmentPlan" || current == "GetPlan";
    var konto = current == "Details" || current == "EditProfile" || current == "ChangeEmail" || current == "ChangePassword" || current == "PromoteToPharmacist";
}

<ul class="nav nav-tabs mb-4">
    <li class="nav-item dropdown">
        <a class="nav-link @(plan ? "active fw-bold" : "text-success")" dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Plany leczenia</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="Pharmacist" asp-action="Plans">Utworzone</a></li>
            <li><a class="dropdown-item" asp-controller="Pharmacist" asp-action="TreatmentPlan">Utwórz nowy</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link @((current == "Medicines") || (current == "Instructions") ? "active fw-bold" : "text-success")" dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Słowniki</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="Medicine" asp-action="Medicines">Leki</a></li>
            <li><a class="dropdown-item" asp-controller="Medicine" asp-action="Instructions">Dawkowanie</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link @(konto ? "active fw-bold" : "text-success")" asp-controller="Account" asp-action="Details">Moje konto</a>
    </li>
</ul>