@using MyApp.Web.ViewModels.Common
@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<div class="d-flex flex-column justify-content-center align-items-center"
     style="min-height: 70vh; text-align: center;">
    <h3 class="text-secondary">Wystąpił błąd podczas przetwarzania Twojego żądania</h3>
    <p>@Model.Message</p>
</div>
