@model MyApp.Web.ViewModels.Common.InfoViewModel
@{
    ViewData["Title"] = "Info";
}

<div class="d-flex flex-column justify-content-center align-items-center"
     style="min-height: 70vh; text-align: center;">
    <h3 class="text-secondary">Dziękujemy!</h3>
    <p>@Model.Message</p>
</div>
