@model MyApp.Web.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = "Zmień Email";
    if (User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
    else if (User.IsInRole("Pharmacist"))
    {
        Layout = "_PharmacistLayout";
    }
    else
    {
        Layout = "_PatientLayout";
    }
}

<form asp-action="ChangeEmail" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Nowy email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label">Hasło</label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="d-grid d-sm-flex justify-content-sm-center">
        <button class="btn btn-secondary" type="submit">Zapisz</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}