@using MyApp.Web.ViewModels
@model ChangeEmailViewModel

@{
    ViewData["Title"] = "Zmień Email";
}

<form asp-action="ChangeEmail" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Nowy email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label">Hasło</label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-secondary" type="submit">Zapisz</button>
    <a asp-action="Details" class="btn btn-secondary">Anuluj</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}