@model MyApp.Web.ViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edytuj Profil";
    var name = Model.DisplayName;
    if (User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
    else if (User.IsInRole("Pharmacist"))
    {
        Layout = "_PharmacistLayout";
    }
    else
    {
        Layout = "_PatientLayout";
    }
}

<form asp-action="EditProfile" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="DisplayName" class="form-label">Imię</label>
        <input asp-for="DisplayName" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>

    <div class="d-grid d-sm-flex justify-content-sm-center">
        <button class="btn btn-secondary" type="submit">Zapisz</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}