@using MyApp.Web.ViewModels
@model EditProfileViewModel

@{
    ViewData["Title"] = "Edytuj Profil";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<form asp-action="EditProfile" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="DisplayName" class="form-label"></label>
        <input asp-for="DisplayName" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Zapisz</button>
    <a class="btn btn-link" asp-action="Details">Anuluj</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}