@{
    ViewData["Title"] = "Email Potwierdzony";
}

<p>Potwierdziliśmy Twój adres email.</p>
<p>Możesz teraz zalogować się na swoje konto.</p>

<div>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Login</a>
</div>