@using MyApp.Web.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Rejestracja";
    var returnUrl = (string?)ViewData["ReturnUrl"];
}

<h2>Rejestracja</h2>

<form asp-controller="Account" asp-action=@Model.PostAction asp-route-returnUrl="@(returnUrl ?? string.Empty)" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Hasło</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Potwierdź hasło</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="Submit" class="btn btn-primary">Utwórz konto</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}