@model MyApp.Web.ViewModels.ResetPasswordRequestViewModel

<div class="d-flex justify-content-center gap-2 mt-3">
    <h2>Reset hasła</h2>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="border rounded-3 p-4 app-panel">
            <form asp-action="ResetPassword" method="post" class="mt-3">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <button type="submit" class="btn btn-secondary">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}